# Oop Using Python

A minimal example of a class

In [2]:
class Person:
    pass

p = Person()
print(p)

<__main__.Person object at 0x000002544DA5BD60>

In [4]:
hex(id(p))

'0x2544da5bd60'

#### Methods in python

In [10]:
class Person:
    def say_hi(self):
        self.name = 'Jatin'
        print("How are you " + self.name + "?")
        
p = Person()
p.say_hi()
Person.say_hi(p)

How are you Jatin?
How are you Jatin?

#### The  __init__ method

In [13]:
class Person():
    name = 'Jatin'
    #not a constructor
    def __init__(self):
        print("new object created")
        
    def say_hi(self):
        print("How are you " + self.name + "?")
        
p = Person()
p.say_hi()
Person.say_hi(p)

new object created
How are you Jatin?
How are you Jatin?

Accepting arguments in __init__ method

In [15]:
class Person():
    #not a constructor
    def __init__(self, name):
        self.name = name
        
    def say_hi(self):
        print("How are you " + self.name + "?")
        
p = Person("rowdy")
p.say_hi()
Person.say_hi(p)

How are you rowdy?
How are you rowdy?

## Dunders or Magic Functions

Lifecycle of the object:
    - Created
    - Deleted
    - String
    - add
    - subtract

In [1]:
class Car:
    def __init__(self, model, mileage):
        self.mileage = mileage
        self.model = model
        
    def __str__(self):
        return "{} + {}".format(self.model, self.mileage)
    
    def __repr__(self):
        return "{}".format(self.model)
    
    def __eq__(self, other):
        return self.mileage == other.mileage
    
    def __add__(self, other):
        return self.mileage + other.mileage

In [2]:
c1 = Car('a', 2)
c2 = Car('b', 2)

In [3]:
c1 + c2

4

In [4]:
c1 == c2

True

In [6]:
c1.model

'a'

In [7]:
class Ostream():
    def __lshift__(self, other):
        print(other, end = "")
        return self
    
cout = Ostream()

In [8]:
cout<< "Rahul"

Rahul

## Inheritence

In [14]:
class SchoolMember:
    #Represent any School Member
    def __init__(self, name, age):
        self.name = name
        self.age = age
        print('(Initialized School member : {})'.format(self.name))
        
    def tell(self):
        # Tell My details
        print('Name : "{}" , Age : "{}" '.format(self.name, self.age), end=" ")
    
class Teacher(SchoolMember):
    #Represent a Teacher
    def __init__(self, name, age, salary):
        SchoolMember.__init__(self, name, age)
        self.salary = salary
        print('(Initialized Teacher : {})'.format(self.name))
        
    def tell(self):
        SchoolMember.tell(self)
        print('Salary: "{:d}"'.format(self.salary))
        
class Student(SchoolMember):
    # Represent a Student
    
    def __init__(self, name, age, marks):
        SchoolMember.__init__(self, name, age)
        self.marks = marks
        print('(Initialized Student : {})'.format(self.name))
        
    def tell(self):
        SchoolMember.tell(self)
        print('Marks: "{:d}"'.format(self.marks))
        

t = Teacher('Mr Ujjwal', 40, 35000)
s = Student('Nikhil', 18, 54)

(Initialized School member : Mr Ujjwal)
(Initialized Teacher : Mr Ujjwal)
(Initialized School member : Nikhil)
(Initialized Student : Nikhil)

In [10]:
t.tell()

Name : "Mr Ujjwal" , Age : "40"  Salary: "35000"

In [11]:
s.tell()

Name : "Nikhil" , Age : "18"  Marks: "54"

The above code can also be executed using below code using 'super()' keyword

In [19]:
class SchoolMember:
    #Represent any School Member
    def __init__(self, name, age):
        self.name = name
        self.age = age
        print('(Initialized School member : {})'.format(self.name))
        
    def tell(self):
        # Tell My details
        print('Name : "{}" , Age : "{}" '.format(self.name, self.age), end=" ")
    
class Teacher(SchoolMember):
    #Represent a Teacher
    def __init__(self, name, age, salary):
        super().__init__(name, age)
        self.salary = salary
        print('(Initialized Teacher : {})'.format(self.name))
        
    def tell(self):
        super().tell()
        print('Salary: "{:d}"'.format(self.salary))
        
class Student(SchoolMember):
    # Represent a Student
    
    def __init__(self, name, age, marks):
        super().__init__(name, age)
        self.marks = marks
        print('(Initialized Student : {})'.format(self.name))
        
    def tell(self):
        super().tell()
        print('Marks: "{:d}"'.format(self.marks))
        

t = Teacher('Mr X', 40, 35000)
t.tell()
s = Student('Nikhil', 18, 74)
s.tell()

(Initialized School member : Mr X)
(Initialized Teacher : Mr X)
Name : "Mr X" , Age : "40"  Salary: "35000"
(Initialized School member : Nikhil)
(Initialized Student : Nikhil)
Name : "Nikhil" , Age : "18"  Marks: "74"